.cardNew {
  text-align: center;
}
.data-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.data-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.data-cell {
  flex: 1;
  padding: 5px;
  text-align: center;
}
#load-more-button {
  display: block;
  margin: 10px auto;
}
